.backimg
{
	width:100%;
	height:100vh;
	background-image:url('image/im.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	color:white;
	position: relative;
}
.profile{
	width:400px;
	background-color:rgba(0,0,0,0.3);
	padding:30px 0;
	border-radius:10%;
	
}
table{

	border: 1px solid white;
	border-collapse:collapse;
	width: 90%;
	margin-top:10px;
	margin-left:30px;
	
	
	
}
table th,tr{
	color:white;
	height:30%;
	text-align:center;
	padding-bottom:5px;
	padding-top:5px;
	
}
table td{
	color:white;
	padding-bottom:5px;
	text-align:center;
	padding-top:5px;
}
img{
	height:250px;

	border-radius:70%;
	
}
section
{
	width:100%;
	height:550px;
	float:left;
}


#pageB
{
	 background-image:url('image/lap.jpeg');
}
#pageC
{
	
	background:#660033;
}
#pageD
{
	
	background: #ffeee6;
}
#ach_color{
	color:black;
}
ul li{
	color:#009933;
	
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
p{
	color: white;
	margin-left:10px;
}
.container {
  position: absolute;
  margin:0;
  z-index:100;
  
  width: auto;
}
h2{
	text-align:center;
	padding-top:15px;
	color:white;
	
}

header {
  background: #55d6aa;
  
}

header::after {
  content: '';
  display: table;
  clear: both;
}


nav {
  
  overflow: hidden;
  float: right;
  background-color:rgba(0,0,0,0.3);
   height:80px;
  width:100%;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}


nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
 
}

nav a:hover {
  background-color: #ddd;
  color: black;
}




